---
layout: base.njk
title: Page Not Found
permalink: 404.html
---

<div class="error-page">
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you're looking for doesn't exist.</p>
    <p>You can
        <a href="/">Go Home</a>
        or check out
        <a href="/blog/">blog posts</a>
    </p>
</div>