---
layout: base.njk
title: My Eleventy Blog
---

<h1>Welcome to My Blog</h1>
<section>
  <h2>Recent Posts</h2>
  {% if collections.posts and collections.posts.length > 0 %}
    <ul class="posts-list">
      {% for post in collections.posts | reverse %}
        <li class="post-item">
          <a href="{{ post.url }}" class="post-link">{{ post.data.title }}</a>
          <span class="post-date">- {{ post.date | simpleDate }}</span>
          {% if post.data.tags %}
            <span class="post-tags">[Tags: {{ post.data.tags | join(", ") }}]</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="no-posts">No blog posts yet. Check back soon!</p>
  {% endif %}
</section>